{% include "left-pane.twig" %}
<div class="home  col-sm-12 col-md-12 col-lg-10 order-2">
<div class="text-white">
<h4>
    YENİ EKLENENLER
</h4>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 cart-mybook">
<div class="row">
    {% for roman in roman %}
    <div class="col-lg-2 col-md-6 col-sm-6 book-card-col ">
        <a href="libraryuser.php?book={{ roman.id }}&user={{roman.uyeid}}" class="text-white ">
            <div class=" text-center ">
                <div class="book-card">
                    <img src="../view/images/books/{{ roman.bookimage }}" class="" width="90" height="140" alt="">
                    <h6>
                        {{ roman.namebook|upper }}
                    </h6>
                    <p>
                        {{ roman.authorname|upper }}
                    </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</div>
    <div class="text-white">
        <h4>
            ŞİİR
        </h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 cart-mybook">
        <div class="row">
            {% for siir in siir %}
            <div class="col-lg-2 col-md-6 col-sm-6 book-card-col cart-mybook">
                <a href="libraryuser.php?book={{ siir.id }}&user={{siir.uyeid}}" class="text-white ">
                    <div class="text-center ">
                        <div class="book-card">
                            <img src="../view/images/books/{{ siir.bookimage }}" class="" width="90" height="140" alt="">
                            <h6>
                                {{ siir.namebook|upper }}
                            </h6>
                            <p>
                                {{ siir.authorname|upper }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-white">
        <h4>
            HİKAYE
        </h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 cart-mybook">
        <div class="row">
            {% for hikaye in hikaye %}
            <div class="col-lg-2 col-md-6 col-sm-6 book-card-col ">
                <a href="libraryuser.php?book={{ hikaye.id }}&user={{hikaye.uyeid}}" class="text-white ">
                    <div class=" text-center ">
                        <div class="book-card">
                            <img src="../view/images/books/{{ hikaye.bookimage }}" class="" width="90" height="140" alt="">
                            <h6>
                                {{ hikaye.namebook|upper }}
                            </h6>
                            <p>
                                {{ hikaye.authorname|upper }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% include "footer.twig" %}