{% include "left-pane.twig" %}
<div class="home home-library-userbook col-sm-12 col-md-12 col-lg-10 order-2">
    <div class="row library-userbook d-flex align-items-center">
        <div class="col-sm-6 text-center">
            <img src="../view/images/books/{{library.bookimage }}" width="200" height="300" alt="">
            <h4 class="mt-4">{{library.namebook }}</h4>
            <h4 class="mt-4">{{library.authorname }}</h4>
        </div>
        <div class="col-sm-6 text-center">
            <img src="../view/images/people.png" class="img-responsive" width="300" height="300" alt="">
            <h4>{{user.name }}</h4>
            <h4>{{user.surname }}</h4>
            <a class="mt-4 btn btn-success" href="mailto:{{user.mail}}">Mail Gönder</a>
        </div>
        <div>
            <button onclick="history.back()" class="btn btn-dark">Geri</button>
        </div>
    </div>
    <script>
    </script>
</div>