{% include "header.twig" %} {% include "left-pane.twig" %}
<div class="home col-sm-10 order-2">
    <div class="container-fluid container-profile">
        <div class="useprofile row">
            <div class="col-sm-6">
                <div class="useprofile-form text-center">
                    <div class="p-3 py-2">

                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <img src="../view/images/people.png" alt="" width="100">
                        </div>
                        <form action="profileedit.php" method="post">
                            <div class="row mt-2">
                                <input type="hidden" name="submit" id="">
                                <div class="col-md-6 mt-2">
                                    <input type="text" class="form-control" name="name" value="{{user.name}}">
                                </div>
                                <div class="col-md-6 mt-2">
                                    <input type="text" class="form-control" name="surname" value="{{user.surname}}">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="email" value="{{user.mail}}">
                                    <input type="hidden" class="form-control" name="update">
                                </div>
                            </div>
                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="useprofile-form text-center">
                    <h3 class="{% if message %} message-succes-update {% endif %}">{{ message }}</h3>
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-dark" onclick="history.back()">Geri</button>
                <div class="text-right">

                    <button  class="btn btn-danger" onclick="myFunction()" id="deleteuser">Hesabını Sil</button>
                </div>
               
            </div>
        </div>
    </div>
</div>

</div>
<script>
   

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);

    }
  

        function myFunction() {
            var id = JSON.stringify({{user.id}});
            swal({
        title: "Profil Sil,?",
        text: "Profilinizi sildiğinizde üyeliğiniz ve kütüphaneniz silinecektir!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                type: "POST",
                url: "profileedit.php",
                data: {
                    delete_user: id

                },
                cache: false,
                success: function() {
                    alert($data);
                    
                }

            });
          swal("Üyeliğiniz ve bilgileriniz silindi!", {
            icon: "success",
            
          });
          Location.href="login.php";
        } 
      });
         
           

        };


</script>{% include "footer.twig" %}